.step-container {
  padding-top: 2rem;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

ion-list-header {
  h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

ion-item {
  h2 {
    font-weight: 600;
    white-space: normal;
  }
}