<ion-header>
  <ion-toolbar>
    <ion-title>Swimming Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Upcoming Lessons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let lesson of lessons">
          <ion-label>
            <h2>{{ lesson.time }} - {{ lesson.student }}</h2>
            <p>{{ lesson.type }} Lesson</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
