.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page-container {
  max-width: 800px;
  margin: 0 auto;
}

ion-card-title {
  font-size: 1.4rem;
  font-weight: 600;
}

ion-list-header {
  font-size: 1.1rem;
  font-weight: 600;
}

ion-item p {
  color: var(--ion-color-medium-shade);
}

.signer-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}