<div class="hotel-shell" *ngIf="property">
  <nav class="hotel-subnav" aria-label="Hotel sections">
    <div class="hotel-subnav__inner">
      <div class="hotel-identity">
        <a [routerLink]="['/hotels', property.slug]" class="hotel-name">
          {{ property.branding?.displayName || property.name }}
        </a>
        <span class="hotel-meta" *ngIf="property.address?.city">{{ property.address.city }}</span>
      </div>

      <ul class="hotel-links">
        <ng-container *ngFor="let item of navItems">
          <li *ngIf="isVisible(item)">
            <a *ngIf="item.path === '.'"
               [routerLink]="['/hotels', property.slug]"
               routerLinkActive="is-active"
               [routerLinkActiveOptions]="{ exact: true }">
              {{ item.label }}
            </a>
            <a *ngIf="item.path !== '.'"
               [routerLink]="['/hotels', property.slug, item.path]"
               routerLinkActive="is-active">
              {{ item.label }}
            </a>
          </li>
        </ng-container>
      </ul>

      <a *ngIf="property.features?.rooms" [routerLink]="bookHref()" class="hotel-cta">Reserve</a>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
