<ion-list [inset]="true">
  <ion-item-sliding *ngFor="let attachment of attachments" #slidingItem>
    <ion-item [href]="attachment.downloadURL" target="_blank" detail="true">
      <ion-icon [name]="getIconForMimeType(attachment.contentType)" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2>{{ attachment.fileName }}</h2>
        <p>Uploaded by {{ attachment.uploadedBy.fullname }}</p>
      </ion-label>
      <ion-note slot="end">{{ attachment.size / 1024 | number:'1.0-2' }} KB</ion-note>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="confirmDelete(attachment, slidingItem)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>